@font-face {
  font-family: segMDL;
  src: url(../fonts/latest.woff2); }
@font-face {
  font-family: segMDLicon;
  src: url(../fonts/SegMDL2.woff); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

div.calcContainer {
  position: absolute;
  top: calc(50% - 266px);
  left: calc(50% - 160px);
  width: 320px;
  height: 532px;
  background-color: #202020;
  position: flex;
  flex-direction: column;
  padding: 4px;
  box-shadow: 5px 5px 20px #8a8a8a; }
  div.calcContainer > div.calcTop {
    width: 100%;
    height: 210px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 37.5px 37.5px 1fr; }
    div.calcContainer > div.calcTop > div.nBtns {
      grid-column: 1;
      grid-row: 1; }
    div.calcContainer > div.calcTop > div.menuContainer {
      grid-column: 1;
      grid-row: 2; }
    div.calcContainer > div.calcTop > div.answerContainer {
      grid-column: 1;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: segMDLicon, segMDL; }
      div.calcContainer > div.calcTop > div.answerContainer > div {
        color: #b1b1b1;
        width: 90%;
        font-family: inherit;
        font-size: 16px;
        text-align: right; }
        div.calcContainer > div.calcTop > div.answerContainer > div > span.preAnswerOpr {
          color: inherit;
          font-family: inherit;
          font-size: 10px;
          text-align: right; }
          div.calcContainer > div.calcTop > div.answerContainer > div > span.preAnswerOpr::after {
            content: "\E94E";
            color: inherit;
            font-family: inherit;
            font-size: inherit; }
      div.calcContainer > div.calcTop > div.answerContainer > input {
        background-color: transparent;
        border: unset;
        outline: unset;
        color: #fff;
        width: 90%;
        font-size: 45px;
        padding: 0.5rem 0;
        text-align: right; }
        div.calcContainer > div.calcTop > div.answerContainer > input::-webkit-inner-spin-button, div.calcContainer > div.calcTop > div.answerContainer > input::-webkit-outer-spin-button {
          -webkit-appearance: none; }
  div.calcContainer > div.calcBottom {
    width: 100%;
    height: 314px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
    position: relative; }
    div.calcContainer > div.calcBottom > button {
      border: unset;
      border-radius: 5px;
      color: #fff; }
      div.calcContainer > div.calcBottom > button.operator {
        background-color: #323232;
        font-family: segMDLicon, segMDL;
        font-size: 12px; }
        div.calcContainer > div.calcBottom > button.operator:hover {
          background-color: #3b3b3b; }
      div.calcContainer > div.calcBottom > button.numerals, div.calcContainer > div.calcBottom > button.number-operator {
        background-color: #3b3b3b;
        font-size: 20px;
        font-family: segMDL; }
        div.calcContainer > div.calcBottom > button.numerals:hover, div.calcContainer > div.calcBottom > button.number-operator:hover {
          background-color: #323232; }
      div.calcContainer > div.calcBottom > button.submit {
        background-color: #dfff80;
        font-size: 16px;
        font-family: segMDLicon, segMDL;
        color: #000; }
        div.calcContainer > div.calcBottom > button.submit:hover {
          background-color: #7fa219; }
      div.calcContainer > div.calcBottom > button#submit::after {
        content: "\E94E"; }
      div.calcContainer > div.calcBottom > button#mul::after {
        content: "\E947"; }
      div.calcContainer > div.calcBottom > button#sub::after {
        content: "\E949"; }
      div.calcContainer > div.calcBottom > button#sum::after {
        content: "\E948"; }
      div.calcContainer > div.calcBottom > button#div::after {
        content: "\E94A"; }
      div.calcContainer > div.calcBottom > button#per::after {
        content: "\E94C"; }
      div.calcContainer > div.calcBottom > button#ce::after {
        content: "CE"; }
      div.calcContainer > div.calcBottom > button#c::after {
        content: "C"; }
      div.calcContainer > div.calcBottom > button#del::after {
        content: "\EB96"; }
      div.calcContainer > div.calcBottom > button > span {
        font-size: inherit;
        color: inherit;
        font-family: inherit; }
        div.calcContainer > div.calcBottom > button > span::after {
          font-size: inherit;
          color: inherit;
          font-family: inherit; }

.col-1 {
  grid-column: 1; }

.col-2 {
  grid-column: 2; }

.col-3 {
  grid-column: 3; }

.col-4 {
  grid-column: 4; }

.row-end--1 {
  grid-row-end: -1; }

.row-end-0 {
  grid-row-end: 0; }

.row-end-1 {
  grid-row-end: 1; }

.row-end-2 {
  grid-row-end: 2; }

.row-end-3 {
  grid-row-end: 3; }

.row-end-4 {
  grid-row-end: 4; }

.row-end-5 {
  grid-row-end: 5; }

.row-end-6 {
  grid-row-end: 6; }

.row-start--1 {
  grid-row-start: -1; }

.row-start-0 {
  grid-row-start: 0; }

.row-start-1 {
  grid-row-start: 1; }

.row-start-2 {
  grid-row-start: 2; }

.row-start-3 {
  grid-row-start: 3; }

.row-start-4 {
  grid-row-start: 4; }

.row-start-5 {
  grid-row-start: 5; }

.row-start-6 {
  grid-row-start: 6; }

.row-1 {
  grid-row: 1; }

.row-2 {
  grid-row: 2; }

.row-3 {
  grid-row: 3; }

.row-4 {
  grid-row: 4; }

.row-5 {
  grid-row: 5; }

.row-6 {
  grid-row: 6; }

sup {
  font-size: 12px; }

.copyRight {
  position: fixed;
  bottom: 10px;
  left: 20px;
  font-family: segMDL;
  color: #202020;
  font-size: 16px;
  font-weight: 900; }
  .copyRight > a {
    text-decoration: none;
    color: #729900;
    font-size: 18px; }
    .copyRight > a:hover {
      text-decoration: underline;
      color: #7fa219; }

a.link {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  margin: 2rem;
  display: inline-block;
  font-family: segMDL; }
  a.link:hover {
    text-decoration: underline; }

button.absolutes {
  position: absolute;
  top: -45px;
  cursor: pointer;
  width: 20px !important;
  height: 30px !important;
  background-color: transparent !important; }

button.abs-left {
  left: calc(12.5% - 10px); }

button.abs-right {
  left: calc(37.5% - 10px); }

.parRed {
  color: red !important; }

/*# sourceMappingURL=main.css.map */
